<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<h1 class="text-center mt-3">Vos abonnements</h1>


<div class="container", style="padding:16px">
  <div>
    <h3 style="padding-bottom:16px"><%= link_to 'Prendre un nouvel abonnement', new_subs_booking_path, class:"cursor:pointer;" %></h3>
    <h3>Vos abonnements passés</h3>
  </div>

  <% @subs_bookings.each do |subs_booking| %>
    <div class="subscription d-flex align-items-center justify-content-between">
      <div>
        <h3>Abonnement <%= subs_booking.subscription.name %></h3>
        <h3>Du <%= subs_booking.start_date.strftime("%d/%m/%Y") %> au <%= subs_booking.end_date.strftime("%d/%m/%Y") %><h3>
        <h3>Tarif : <%= subs_booking.subscription.price %>€<h3>
      </div>
      <%= link_to 'Facture', subs_booking_path(subs_booking), class:"btn-flat-green", style:"width:auto; padding:8px; color:white"%>
    </div>
  <% end %>
</div>


<div class="padding-bottom-page"></div>
