<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<h1 class="text-center mt-3">Nouvel abonnement</h1>

<div class="container">
  <div style="padding:16px">
    <h3>Valable du <%= l(Date.today, format: :with_day, locale: "fr") %> au <%= l((Date.today + 1.month), format: :with_day, locale: "fr") %></h3>
  </div>

  <% @subscriptions.each do |subscription| %>
    <div class="subscription d-flex align-items-center justify-content-between">
        <div>
          <h3 style="font-size: 16px">Abonnement <%= subscription.name%> : <%= subscription.price %>€</h3>
          <p><%= subscription.description%></p>
        </div>
          <%= simple_form_for @subs_booking do |f| %>
          <div class="d-flex align-items-center">
            <%= f.input :subscription_id, as: :hidden, input_html: { value: subscription.id } %>
          <div><%= f.submit "Acheter", class:"btn-flat-purple", style:"width:auto; padding:8px"%></div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>



