<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
    <h1 class="pass-h1">Vos Pass</h1>

<div class="container">
  <% @act_bookings.each do |booking| %>
    <%= link_to activity_act_booking_path(booking.activity, booking) do %>
      <div class="card-index-pass delete-croix">
        <%= image_tag "qrcode.png" %>
        <div class="card-index-pass-infos">
          <h2><%= booking.activity.name %></h2>
          <p><%= booking.activity.category %></p>
          <p>Date: <%= l(booking.date, format: :with_day, locale: "fr") %></p>
        </div>

        <%= link_to act_booking_path(booking), method: :delete, class: "fa-times-delete" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="padding-bottom-page"></div>

