<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>

<div class="container">

  <h1 class="act-booking-show-h1">Bonne visite !</h1>


<!-- MODELE DU PASS SNCF -->
    <div>
      <h2 class="act-booking-show-h2 text-center"> Date de l'activité </h2>
      <p class="act-booking-show-p text-center"><%= l(@act_booking.date, format: :with_day, locale: "fr") %></p>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <h2 class="act-booking-show-h2"> Lieu </h2>
      </div>
      <div>
        <h2 class="act-booking-show-h2"> Adresse</h2>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <p class="act-booking-show-p"> <%= Place.find(Activity.find(@act_booking.activity_id).place_id).name %></p>
      </div>
      <div>
        <p class="act-booking-show-p"> <%= Place.find(Activity.find(@act_booking.activity_id).place_id).address %></p>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <h2 class="act-booking-show-h2"> Prénom </h2>
      </div>
      <div>
        <h2 class="act-booking-show-h2"> Nom </h2>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <p class="act-booking-show-p"><%= current_user.first_name %></p>
      </div>
      <div>
        <p class="act-booking-show-p"><%= current_user.last_name %></p>
      </div>
    </div>
</div>


<div class="container">
  <div class="d-flex justify-content-center" style="margin: 0 auto;">
    <%= @qrcode.as_svg.html_safe %>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <% if @act_booking.date > DateTime.current %>
          <div class="d-flex big-btn-flat-red align-items-center justify-content-center" >
            <% activity_map = Activity.find(@act_booking.activity_id) %>
            <i class="fas fa-map-marker-alt mr-2"></i>
            <%= link_to "Comment s'y rendre", "https://www.google.com/maps/search/#{Place.find(activity_map.place_id).name}", target: "_blank"%>
          </div>
    <% else %>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button type="button" class="btn-flat-green" data-toggle="modal" data-target="#exampleModal">
          Notez cette activité</button>
        </div>
        <div>
          <div class="d-flex mini-btn-flat-red justify-content-center" >
            <% activity_map = Activity.find(@act_booking.activity_id) %>
            <i class="fas fa-map-marker-alt"></i>
            <%= link_to "Comment s'y rendre", "https://www.google.com/maps/search/#{Place.find(activity_map.place_id).name}", target: "_blank"%>
          </div>
      </div>
    <% end %>
    <div class="padding-bottom-page"></div>
    </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Notez cette activité</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
         <!-- FORM DATE  -->
        <%= simple_form_for [@act_booking,@review] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: false %>
        <div class="form-actions">
          <%= f.submit "Soumettre", class: "btn-flat-purple" %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padding-bottom-page"></div>
