<div id="navbar" class="navbar d-flex justify-content-around">
  <%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to activities_path do %>
    <i class="fas fa-search"></i>
  <% end %>

  <%= link_to act_bookings_path do %>
    <i class="fas fa-qrcode" style="color: #3700B3;"></i>
  <% end %>

  <%= link_to act_bookings_path do %>
    <i class="fas fa-star"></i>
  <% end %>

  <% if current_user != nil %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <i class="fas fa-user"></i>
    <% end %>
  <% end %>
</div>
