<div id="navbar-max" class="navbar-max navbar-hidden">
  <div class="navbar-burger">
    <%= link_to "Home", root_path %>
  </div>
  <div class="navbar-burger">
    <% if current_user.nil? %>
      <%= link_to "Mes pass", new_user_session_path  %>
    <% else %>
      <%= link_to "Mes pass", act_bookings_path %>
    <% end %>
  </div>

  <div class="navbar-burger">
    <% if current_user.nil? %>
     <%= link_to  "Mes Favoris", new_user_session_path %>
    <% else %>
     <%= link_to "Mes favoris", favorites_path %>
    <% end %>
  </div>

  <div class="navbar-burger">
   <%= link_to "Mon profil", edit_user_registration_path %>
  </div>
</div>
