<div class="banner">
  <div class="text-in-banner">
    <h1>Bonjour ,</h1>
    <h2>Que voulez-vous faire aujourd'hui ?</h2>
  </div>
</div>
<div class="search">
  <div class="searchbar">
    <%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Que faire" %>
  </div>
    <% end %>

<!-- ALICE -->

<div type="button" data-toggle="modal" data-target="#filterSortModal">
+ d'options
</div>

  <!-- Modal -->
<div class="modal fade" id="filterSortModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- croix pour fermer -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- Section filtrer -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter par</h5>
      </div>

      <form action=<%= activities_path %>>
        <div class="modal-body">
          <div class="form-group">
            <div class="category-choices">
              <% Activity::CATEGORIES.each_with_index do |category, index| %>
                <input type="checkbox" id="<%= category %>" name="category_<%= index %>" value="<%= category %>" >
                <label for="<%= category %>"><%= category %></label>
              <% end %>
             </div>
          </div>
      </div>

      <!-- bouton pour enregistrer les modifs -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>

    </div>
  </div>
</div>

<!-- ALICE -->


</div>

<div class="horizontal-scroll">
  <div class="category-orange">
  Musée
  </div>
  <div class="category-blue">
    Cinéma
  </div>
  <div class="category-yellow">
    Théâtre
  </div>
  <div class="category-red">
    Concert
  </div>
  <div class="category-purple">
    Opéra
  </div>
</div>

<h2 class="text-center">A refaire</h2>

<div class="horizontal-scroll">
  <% @activities.each do |activity| %>
    <div class="card-text-home card-text">
      <%= cl_image_tag activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <p><%= activity.category %></p>
        <p><%= activity.avg_rating %></p>
      </div>
    </div>
  <%end%>
</div>

<h2 class="text-center">Dernière chance</h2>

<div class="horizontal-scroll">
  <% @activities.each do |activity| %>
    <div class="card-text-home card-text">
      <%= cl_image_tag activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <p><%= activity.category %></p>
        <p><%= activity.avg_rating %></p>
      </div>
    </div>
  <%end%>
</div>

<h2 class="text-center">Les plus populaires</h2>

<div class="horizontal-scroll">
  <% @activities.each do |activity| %>
    <div class="card-text-home card-text">
      <%= cl_image_tag activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <p><%= activity.category %></p>
        <p><%= activity.avg_rating %></p>
      </div>
    </div>
  <%end%>
</div>

