<div class="banner">
  <div class="text-in-banner">
    <% if current_user == nil %>
      <h1>Bonjour,</h1>
    <% else %>
      <h1>Bonjour <%= current_user.first_name %>,</h1>
    <% end %>
    <h2>Que voulez-vous faire aujourd'hui ?</h2>
  </div>
</div>
<div class="search">
  <div class="searchbar">
    <%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "🔍" %>
  </div>
    <% end %>

<!-- ALICE -->

  <div class="btn-filter">
  Filtres
  </div>

<!-- ALICE -->


</div>

<div class="horizontal-scroll">
  <div class="category category-orange">
    <%= link_to "Musée", activities_path(query: "musée") %>
  </div>
  <div class="category category-blue">
    <%= link_to "Cinéma", activities_path(query: "cinema") %>
  </div>
  <div class="category category-yellow">
    <%= link_to "Théâtre", activities_path(query: "théâtre") %>
  </div>
  <div class="category category-red">
    <%= link_to "Concert", activities_path(query: "concert") %>
  </div>
  <div class="category category-purple">
    <%= link_to "Opéra", activities_path(query: "opéra") %>
  </div>
</div>

<h2 class="text-center">A refaire</h2>

<div class="horizontal-scroll">
  <% @do_it_again.each do |booking| %>
    <div class="card-text-home card-text">
      <%= cl_image_tag booking.activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to booking.activity.name, activity_path(booking.activity) %></h2>
        <p><%= booking.activity.category %></p>
        <p><%= booking.activity.avg_rating %></p>
      </div>
    </div>
  <%end%>
</div>


<h2 class="text-center">Dernière chance</h2>

<div class="horizontal-scroll">
  <% @last_chance.each do |activity| %>
    <div class="card-text-home card-text">
      <%= cl_image_tag activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <p><%= activity.category %></p>
        <p><%= activity.avg_rating %></p>
      </div>
    </div>
  <%end%>
</div>

<h2 class="text-center">Les plus populaires</h2>

<div class="horizontal-scroll">
  <% @best_rating.each do |activity| %>
    <div class="card-text-home card-text">
      <%= cl_image_tag activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <p><%= activity.category %></p>
        <p><%= activity.avg_rating %></p>
      </div>
    </div>
  <%end%>
</div>
<div class="padding-bottom-page"></div>
