<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<div class="search">
  <div class="searchbar">
    <%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",

    placeholder: "Que voulez-vous faire ?" %>
  </div>

    <% end %>


<!-- ALICE -->

  <div class="btn-filter">
  <%= link_to "Filtres", filter_sort_modal_activities_path, class: "btn-filter" %>
  </div>

<!-- ALICE -->


</div>

<div class="horizontal-scroll">
  <div class="category category-orange">
    <%= link_to "Musée", activities_path(query: "musée") %>
  </div>
  <div class="category category-blue">
    <%= link_to "Cinéma", activities_path(query: "cinéma") %>
  </div>
  <div class="category category-yellow">
    <%= link_to "Théâtre", activities_path(query: "théâtre") %>
  </div>
  <div class="category category-red">
    <%= link_to "Concert", activities_path(query: "concert") %>
  </div>
  <div class="category category-purple">
    <%= link_to "Opéra", activities_path(query: "opéra") %>
  </div>
</div>


<% unless current_user.nil? %>
  <h2 class="text-left activity-title">Recommandés pour vous<span></span></h2>

<div class="horizontal-scroll">
    <% @recommandations[0].each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
          <div class="card-text-infos">
            <h2><%= activity.name %></h2>
            <div class="d-flex justify-content-between">
              <div>
                <p><%= activity.category %></p>
              </div>
              <div class="rat d-flex align-items-center">
                  <p><%= activity.avg_rating %></p>
                <div>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
    <% @recommandations[1].each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
          <div class="card-text-infos">
            <h2><%= activity.name %></h2>
            <div class="d-flex justify-content-between">
              <div>
                <p><%= activity.category %></p>
              </div>
              <div class="rating d-flex align-items-center">
                <p><%= activity.avg_rating %></p>
                <div>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
    <% @recommandations[2].each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class="card-text-home card-text"  style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
          <div class="card-text-infos">
            <h2><%= activity.name %></h2>
            <div class="d-flex justify-content-between">
              <div>
                <p><%= activity.category %></p>
              </div>
              <div class="rating d-flex align-items-center">
                <p><%= activity.avg_rating %></p>
                <div>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>
<% end %>


<h2 class="text-left activity-title">Dernière chance<span></span></h2>

<div class="horizontal-scroll">
  <% @last_chance.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= activity.name %></h2>
          <div class="d-flex justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<h2 class="text-left activity-title">Les plus populaires<span></span></h2>

<div class="horizontal-scroll">
  <% @best_rating.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= activity.name %></h2>
          <div class="d-flex justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <%end%>
</div>


  <h2 class="activity-title activity-title-museum">Musée<span></span></h2>


<div class="horizontal-scroll">
  <% @museums.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= activity.name %></h2>
          <div class="d-flex justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



  <h2 class="activity-title activity-title-cinema">Cinéma<span></span></h2>


<div class="horizontal-scroll">
  <% @cinemas.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= activity.name %></h2>
          <div class="d-flex justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


  <h2 class="activity-title activity-title-theatre">Théâtre<span></span></h2>


<div class="horizontal-scroll">
  <% @theatres.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%=  activity.name %></h2>
          <div class="d-flex justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


  <h2 class="activity-title activity-title-concert">Concert<span></span></h2>


<div class="horizontal-scroll">
  <% @concerts.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= activity.name %></h2>
          <div class="d-flex justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

  <h2 class="activity-title activity-title-opera">Opéra<span></span></h2>

<div class="horizontal-scroll">
  <% @operas.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= activity.name %></h2>
          <div class="d-flex justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="padding-bottom-page"></div>

