<div class="banner">
    <div><i id="burger" class="fas fa-bars"></i></div>
    <div style="font-size: 24px; color: white; align-items: center;">Sapio</div>
    <div><%= image_tag "logo.png", alt: "Sapio" %></div>
</div>
<div class="search">
  <div class="searchbar">
    <%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",

    placeholder: "Que voulez-vous faire ?" %>
  </div>

    <% end %>
  </div>

<!-- ALICE -->

  <div class="btn-filter">
  Filtres
  </div>

<!-- ALICE -->


</div>

<div class="horizontal-scroll">
  <div class="category category-orange">
    <%= link_to "Musée", activities_path(query: "musée") %>
  </div>
  <div class="category category-blue">
    <%= link_to "Cinéma", activities_path(query: "cinema") %>
  </div>
  <div class="category category-yellow">
    <%= link_to "Théâtre", activities_path(query: "théâtre") %>
  </div>
  <div class="category category-red">
    <%= link_to "Concert", activities_path(query: "concert") %>
  </div>
  <div class="category category-purple">
    <%= link_to "Opéra", activities_path(query: "opéra") %>
  </div>
</div>


<% unless current_user.nil? %>
  <h2 class="text-center">Nos recommandations pour vous</h2>

<div class="horizontal-scroll">
    <% @recommandations[0].each do |activity| %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= link_to activity.name, activity_path(activity) %></h2>
          <div class="d-flex justify-content-around">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating row">
                <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <% @recommandations[1].each do |activity| %>
      <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= link_to activity.name, activity_path(activity) %></h2>
          <div class="d-flex justify-content-around">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating row">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <% @recommandations[2].each do |activity| %>
      <div class="card-text-home card-text"  style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
        <div class="card-text-infos">
          <h2><%= link_to activity.name, activity_path(activity) %></h2>
          <div class="d-flex justify-content-around">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating row">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
<% end %>


<h2 class="text-center">Dernière chance</h2>

<div class="horizontal-scroll">
  <% @last_chance.each do |activity| %>
    <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <div class="d-flex justify-content-around">
          <div>
            <p><%= activity.category %></p>
          </div>
          <div class="rating row">
            <p><%= activity.avg_rating %></p>
            <div>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<h2 class="text-center">Les plus populaires</h2>

<div class="horizontal-scroll">
  <% @best_rating.each do |activity| %>
    <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <div class="d-flex justify-content-around">
          <div>
            <p><%= activity.category %></p>
          </div>
          <div class="rating row">
            <p><%= activity.avg_rating %></p>
            <div>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>

<h2 class="text-center">Musée</h2>

<div class="horizontal-scroll">
  <% @museums.each do |activity| %>
    <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <div class="d-flex justify-content-around">
          <div>
            <p><%= activity.category %></p>
          </div>
          <div class="rating row">
            <p><%= activity.avg_rating %></p>
            <div>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2 class="text-center">Cinéma</h2>

<div class="horizontal-scroll">
  <% @cinemas.each do |activity| %>
    <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <div class="d-flex justify-content-around">
          <div>
            <p><%= activity.category %></p>
          </div>
          <div class="rating row">
            <p><%= activity.avg_rating %></p>
            <div>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2 class="text-center">Théâtre</h2>

<div class="horizontal-scroll">
  <% @theatres.each do |activity| %>
    <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <div class="d-flex justify-content-around">
          <div>
            <p><%= activity.category %></p>
          </div>
          <div class="rating row">
            <p><%= activity.avg_rating %></p>
            <div>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2 class="text-center">Concert</h2>

<div class="horizontal-scroll">
  <% @concerts.each do |activity| %>
    <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <div class="d-flex justify-content-around">
          <div>
            <p><%= activity.category %></p>
          </div>
          <div class="rating row">
            <p><%= activity.avg_rating %></p>
            <div>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2 class="text-center">Opéra</h2>

<div class="horizontal-scroll">
  <% @operas.each do |activity| %>
    <div class="card-text-home card-text" style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 150, height: 140 %>')">
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <div class="d-flex justify-content-around">
          <div>
            <p><%= activity.category %></p>
          </div>
          <div class="rating row">
            <p><%= activity.avg_rating %></p>
            <div>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="padding-bottom-page"></div>

