<div class="container">
  <% activities.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="card-text-pass"  style="background-image: linear-gradient(-180deg, transparent, black), url('<%= cl_image_path activity.photo_one, crop: :fill, width: 345, height: 200 %>')">
        <div class="card-text-infos-pass">
          <h2><%= activity.name %></h2>
          <div class="d-flex  justify-content-between">
            <div>
              <p><%= activity.category %></p>
            </div>
            <div class="rating d-flex align-items-center">
              <p><%= activity.avg_rating %></p>
              <div>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <%end%>
</div>
