 <div >
    <% @activities.each do |activity| %>
      <div>
        <div >
          <h2><%= link_to activity.name, activity_path(activity) %></h2>
          <p><%= activity.category %></p>
          <p><%= activity.avg_rating %></p>
          <p><%= activity.end_date %></p>
          <p><%= activity.place.name %></p>
        </div>
      </div>
    <% end %>
  </div>
