<div class="banner justify-content-center">
    <%= image_tag "logo.png", alt: "Sapio" %>
</div>
<h1 class="text-center mb-3 mt-3">Que voulez-vous faire ?</h1>
<div class="searchbar mb-3">
  <%= form_tag activities_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
  placeholder: "🔍" %>
</div>
  <% end %>

<div class="" style="    width: 100%; padding:0px 15px; margin:0 auto 100px auto" >
  <form id="filterSortForm" action="/activities/filter_sort", method="get">
    <h2 class="filtering">Filtrer par</h2>
    <div class="category_choices">
      <div style="display:flex">
        <input type="checkbox" id="selectAllCategories" class="categoryCheckbox" name="selectAll">
        <label style="flex-grow: 1" for="selectAllCategories" id="selectAllCategoriesLabel" class="categoryLabel">Tout sélectionner</label>
      </div>
      <div style="display:flex; flex-wrap:wrap">
        <% @categories.each do |category| %>
          <input type="checkbox" class="categoryCheckbox" id="<%= "#{category}" %>" value="<%= "#{category}" %>" name="category_<%= "#{category}" %>">
          <label for="<%= "#{category}" %>" class="categoryLabel <%= "#{category.gsub(/[âé]/, 'â' => 'a', 'é' => 'e').downcase}" %>"><%= category %></label>
        <% end %>
      </div>
    </div>

      <!-- <h2>Sélectionnez un endroit</h2>
        <label for="selectAllPlaces" id="selectAllPlacesLabel">Tout sélectionner</label>
        <input type="checkbox" id="selectAllPlaces" class="placeCheckbox" name="selectAll">
        <%# @places.each do |place| %>
          <div>
            <input type="checkbox" class="placeCheckbox" value="<%#= "#{place.name}" %>" name="place_<#%= "#{place.name}" %>">
            <%#= place.name %>
          </div>
       <%# end %> -->

    <!-- <h2 class="filtering">Trier par</h2> -->
    <h2 class="filtering">Distance</h2>
      <div>
        <!-- <input type="radio" id="sortEndDate" name="sort" value="end_date">
        <label class="filterChoice" for="sortEndDate">Date de fin</label>
        <input type="radio" id="sortRating" name="sort" value="avg_rating">
        <label class="filterChoice" for="sortRating">Note</label>
        <input type="radio" id="sortName" name="sort" value="name">
        <label class="filterChoice" for="sortName">Nom</label> -->


        <!-- DISTANCE -->
        <!-- à moins de <input type="text" id="sortAround" name="sort" value="20" placeholder="20">km de moi -->
        <!-- <div class="selectDistance"> -->


         <!--  <select style="display:none" onclick="getLocation()" class="dropDownListSort" name="distanceFromMe" id="distanceDropdownList"> -->
          <select style="display:none" class="dropDownListSort" name="distanceFromMe" id="distanceDropdownList">
            <option value="100000"><strong>Distance</strong></option>
            <option id="optionDistanceTroisKm" value="3">A moins de 3 km de moi</option>
            <option id="optionDistanceCinqKm" value="5">A moins de 5 km de moi</option>
            <option id="optionDistanceDixKm" value="10">A moins de 10 km de moi</option>
            <option id="optionDistanceQuinzeKm" value="15">A moins de 15 km de moi</option>
          </select>

        <!-- </div> -->
        <!-- <div>
          <span class="filterChoice">Distance</span>
        </div> -->

        <!-- <div onclick="getLocation()" class="selectDistanceFromMe" style="display: flex"> -->
        <div class="selectDistanceFromMe" style="display: flex">
          <ul id="distanceEnKm" style="flex-grow: 1; padding-inline-start: 0;">
            <li style="margin:8px 0"; id="distanceTroisKm" class="filterChoice">A moins de 3 km de moi</li>
            <li style="margin:8px 0"id="distanceCinqKm" class="filterChoice">A moins de 5 km de moi</li>
            <li style="margin:8px 0"id="distanceDixKm" class="filterChoice">A moins de 10 km de moi</li>
            <li style="margin:8px 0"id="distanQuinzeKm" class="filterChoice">A moins de 15 km de moi</li>
          </ul>
        </div>

<!--           <input type="radio" id="longitudeUser" name="longitude" value="" checked>
          <input type="radio" id="latitudeUser" name="latitude" value="" checked> -->
          <input type="radio" id="longitudeUser" name="longitude" value="2.3798505999999997" checked>
          <input type="radio" id="latitudeUser" name="latitude" value="48.8648755" checked>

          <!-- <input onclick="getLocation()" type="radio" id="sortDistance" name="sort" value="distance"> -->
          <input type="radio" id="sortDistance" name="sort" value="distance">
          <label style="display:none" class="filterChoice" for="sortDistance"></label>

          <!-- id unique pour qu'on ne puisse sélectionner qu'une seule radio -->
          <!-- name = clé qu'on récupère dans les params -->
          <!-- value = valeur de la clé qu'on récupère dans les params -->

      </div>

      <div style="display: flex; align-items: center">
        <input style="margin-top: 10px!important" type="submit" value="GO !" id="ModalSubmitFilter">
      </div>
  </form>
</div>


