<div class="banner">
  <div class="text-in-banner">
    <h1>Que voulez-vous faire ?</h1>
    <div class="searchbar">
      <%= form_tag activities_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "ðŸ”" %>
    </div>
      <% end %>
  </div>
</div>
<div class="toggle-map-button">
  <i class="fas fa-map-marked-alt"></i>
  <i class="fas fa-search d-none"></i>
</div>
<div class="container toggle-map">
  <% @activities.each do |activity| %>
    <div class="card-text">
      <%= cl_image_tag activity.photo_one %>
      <div class="card-text-infos">
        <h2><%= link_to activity.name, activity_path(activity) %></h2>
        <p><%= activity.category %></p>
        <p><%= activity.avg_rating %></p>
      </div>
    </div>
  <%end%>
</div>
  <div class="toggle-map" id="map-container">

  <div
    id="map"
    style="width: 100vw;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
<div class="padding-bottom-page"></div>
