<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @activity.photo_one , class: "d-block w-100", crop: :fill, height: 200%>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag @activity.photo_two, class: "d-block w-100", crop: :fill, height: 200 %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag @activity.photo_three, class: "d-block w-100", crop: :fill, height: 200 %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <!-- Favori -->
  <div id="favori">
    <% if @favorite.nil? %>
      <%= link_to activity_favorites_path(@activity.id),:method => :post do %>
          <i id="heart_activity" class="far fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to activity_favorite_path(@activity.id, @favorite.id),:method => :delete do %>
          <i id="heart_activity" class="fas fa-heart"></i>
      <% end %>
    <% end %>
</div>

</div>
<div class="container">
  <h1 class="text-center"><%= @activity.name %></h1>
  <div class="d-flex">
    <div>
      <%= @activity.avg_rating %>
    </div>
    <div>
      <%= @activity.category %>
    </div>
  </div>
  <div class="text-center">
    <h2 class="text-center">Description de l'activité</h2>
    <p><%= @activity.description %></p>
  </div>
  <div>
    <h2 class="text-center">Infos Pratiques</h2>
    <p> Adresse : <%= Place.find(@activity.place_id).address %></p>
    <p><%= Place.find(@activity.place_id).access %></p>
  </div>
</div>
<div class="text-center">
    <!-- METTRE UNE MODALE POUR LE BOUTON PASS POUR SELECTIONNER LA DATE -->

  <div id="contenant">
    <button type="button" class="btn-flat-purple" data-toggle="modal" data-target="#exampleModal">
    PASS</button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choisissez la date de votre réservation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <!-- FORM DATE  -->
          <%= simple_form_for [@activity, @act_booking] do |f| %>
            <div class="form-inputs text-center">
              <%= f.input :date, as: :string,
                  required: false, label: "Date de réservation",
                  autofocus: true, input_html: {class: "datepicker"} %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-flat-green" data-dismiss="modal">Annuler</button>
            <div class="form-actions">
            <%= f.button :submit, "Générer un Pass", class: "mini-btn-flat-purple" %>
            <!-- <button type="button" class="btn btn-flat-purple">Générer un PASS</button> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
</div>



<%# if @favorite.nil? %>
  <%#= link_to "Add", activity_favorites_path(@activity.id), :method => :post %>
<%# else %>
  <%#= link_to "Remove", activity_favorite_path(@activity.id, @favorite.id), :method => :delete %>
<%# end %>
